<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultSymbols</key>
	<array>
		<string>π</string>
		<string>√</string>
		<string>∞</string>
		<string>≈</string>
		<string>≤</string>
		<string>≥</string>
		<string>±</string>
		<string>≠</string>
		<string>©</string>
		<string>™</string>
		<string>π</string>
		<string>√</string>
		<string>∞</string>
		<string>≈</string>
		<string>≤</string>
		<string>≥</string>
		<string>±</string>
		<string>≠</string>
		<string>©</string>
		<string>™</string>
	</array>
	<key>Symbols</key>
	<array>
		<string>π</string>
		<string>√</string>
		<string>∞</string>
		<string>≈</string>
		<string>≤</string>
		<string>≥</string>
		<string>±</string>
		<string>≠</string>
		<string>©</string>
		<string>™</string>
		<string>π</string>
		<string>√</string>
		<string>∞</string>
		<string>≈</string>
		<string>≤</string>
		<string>≥</string>
		<string>±</string>
		<string>≠</string>
		<string>©</string>
		<string>™</string>
	</array>
	<key>Sound</key>
	<true/>
	<key>Latin</key>
	<false/>
	<key>DotShortcut</key>
	<true/>
	<key>AutoCapitalize</key>
	<true/>
	<key>EnableCapsLock</key>
	<true/>
</dict>
</plist>
